.description {
  position: relative;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
}

.fullName {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.avatar {
  margin: 20px 0px 10px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.status {
  color: green;
  cursor: pointer;
}