.description {
  position: relative;
  margin-left: 900px;
  padding: 10px;
}

.avatar {
  margin: 20px 0px 10px 0px;
  width: 300px;
  height: 300px;
}

.status {
  color: green;
  cursor: pointer;
}