.app-container {
  display: grid;
  width: 1535px;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;

  background: #81b441;
  grid-gap: 5px;

  grid-template-areas:
    "h h"
    "n c";
}
